<div class="home">
  <Header id="nav-header" class="nav-header" :class="{'nav-header2':headerStyle }"></Header>
  <ToolBar v-drag />
  <!-- 轮播 -->
  <el-carousel class="carousel" :interval="5000" arrow="always" height="700px">
    <el-carousel-item v-for="(item,index) in imageList" :key="index">
      <img class="item-img" :src="item.img" alt="">
    </el-carousel-item>
  </el-carousel>

  <!-- product 中心 -->
  <section class="floor-wrap-1 w">
    <div class="floor-title">
      <h2>产品中心</h2>
      <span>PRODUCTS CENTER</span>
    </div>

    <div class="floor-main">
      <button class="iconfont prev" href="">&#xe6a2;</button>
      <swiper id="product-swiper" class="product-swiper  swiper-no-swiping" :options="productSwiperOption"
        ref="mySpecSwiper">
        <swiper-slide v-for="(item,index) in 8" :key="index">
          <itemCard />
        </swiper-slide>
      </swiper>
      <button class="iconfont next" href="">&#xe6a3;</button>
    </div>

    <JumpButton :btnData="productBtnData" />
  </section>

  <!-- 解决方案 -->
  <section class=" ">
    <div class="floor-wrap-2 w">
      <button @click="$router.push({ name: 'product', params: {order:123} })">跳转</button>
      <button @click="$router.push({ path: '/product', query: {order:123} })">跳转</button>
    </div>
  </section>

  <main style="height: 3000px;"></main>

  <Footer></Footer>
</div>